In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('dataset_Facebook.csv', sep=";");
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [6]:
df.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 19 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     500 non-null    int64
 1   Type                                                                 500 non-null    object
 2   Category                                                             500 non-null    int64
 3   Post Month                                                           500 non-null    int64
 4   Post Weekday                                                         500 non-null    int64
 5   Post Hour                                                            500 non-null    int64
 6   Paid                                                                 499 non-null    float64
 7   Lifetime Post Total Reach                                            500 non-null    int64
 8   Lifetime Post Total Impressions                                      500 non-null    int64
 9   Lifetime Engaged Users                                               500 non-null    int64
 10  Lifetime Post Consumers                                              500 non-null    int64
 11  Lifetime Post Consumptions                                           500 non-null    int64
 12  Lifetime Post Impressions by people who have liked your Page         500 non-null    int64
 13  Lifetime Post reach by people who like your Page                     500 non-null    int64
 14  Lifetime People who have liked your Page and engaged with your post  500 non-null    int64
 15  comment                                                              500 non-null    int64
 16  like                                                                 499 non-null    float64
 17  share                                                                496 non-null    float64
 18  Total Interactions                                                   500 non-null    int64
dtypes: float64(3), int64(15), object(1)
memory usage: 74.3+ KB

In [8]:
df.describe()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,500.000000,500.000000,500.000000,500.000000,500.000000,499.000000,500.00000,5.000000e+02,500.000000,500.000000,500.000000,5.000000e+02,500.000000,500.000000,500.00000,499.000000,496.000000,500.000000
mean,123194.176000,1.880000,7.038000,4.150000,7.840000,0.278557,13903.36000,2.958595e+04,920.344000,798.772000,1415.130000,1.676638e+04,6585.488000,609.986000,7.48200,177.945892,27.266129,212.120000
std,16272.813214,0.852675,3.307936,2.030701,4.368589,0.448739,22740.78789,7.680325e+04,985.016636,882.505013,2000.594118,5.979102e+04,7682.009405,612.725618,21.18091,323.398742,42.613292,380.233118
min,81370.000000,1.000000,1.000000,1.000000,1.000000,0.000000,238.00000,5.700000e+02,9.000000,9.000000,9.000000,5.670000e+02,236.000000,9.000000,0.00000,0.000000,0.000000,0.000000
25%,112676.000000,1.000000,4.000000,2.000000,3.000000,0.000000,3315.00000,5.694750e+03,393.750000,332.500000,509.250000,3.969750e+03,2181.500000,291.000000,1.00000,56.500000,10.000000,71.000000
50%,129600.000000,2.000000,7.000000,4.000000,9.000000,0.000000,5281.00000,9.051000e+03,625.500000,551.500000,851.000000,6.255500e+03,3417.000000,412.000000,3.00000,101.000000,19.000000,123.500000
75%,136393.000000,3.000000,10.000000,6.000000,11.000000,1.000000,13168.00000,2.208550e+04,1062.000000,955.500000,1463.000000,1.486050e+04,7989.000000,656.250000,7.00000,187.500000,32.250000,228.500000
max,139441.000000,3.000000,12.000000,7.000000,23.000000,1.000000,180480.00000,1.110282e+06,11452.000000,11328.000000,19779.000000,1.107833e+06,51456.000000,4376.000000,372.00000,5172.000000,790.000000,6334.000000

In [11]:
df.shape

(500, 19)

In [12]:
df.columns

Index(['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share', 'Total Interactions'],
      dtype='object')

In [13]:
#create data subset

In [22]:
sub1=df.iloc[0:50,0:4];
sub1

    Page total likes    Type  Category  Post Month
0             139441   Photo         2          12
1             139441  Status         2          12
2             139441   Photo         3          12
3             139441   Photo         2          12
4             139441   Photo         2          12
5             139441  Status         2          12
6             139441   Photo         3          12
7             139441   Photo         3          12
8             139441  Status         2          12
9             139441   Photo         3          12
10            139441  Status         2          12
11            139441   Photo         2          12
12            139441   Photo         2          12
13            139441   Photo         2          12
14            138414   Photo         2          12
15            138414  Status         2          12
16            138414   Photo         3          12
17            138414   Photo         1          12
18            138414  Status         3          12
19            138414   Photo         3          12
20            138414   Photo         2          12
21            138414   Photo         1          12
22            138414    Link         1          12
23            138414   Photo         3          12
24            138414  Status         2          12
25            138458  Status         2          12
26            138458  Status         2          12
27            138458   Photo         3          12
28            138895   Photo         2          12
29            138895   Video         1          12
30            138895   Photo         2          12
31            138895   Photo         2          12
32            138895   Photo         3          12
33            138895   Photo         3          12
34            138895   Photo         1          12
35            138895   Photo         2          12
36            138895   Photo         3          12
37            138895   Photo         1          12
38            138895  Status         2          12
39            138895   Photo         1          12
40            138895  Status         2          12
41            138895    Link         1          12
42            138353   Photo         1          12
43            138353    Link         1          12
44            138353   Photo         1          12
45            138353    Link         1          12
46            138353  Status         1          12
47            138353    Link         1          12
48            138353   Photo         1          12
49            138353    Link         1          12

In [23]:
sub2=df[['Page total likes','Type','Category','Post Month']].loc[50:100];
sub2

     Page total likes    Type  Category  Post Month
50             138353   Photo         2          11
51             138329   Photo         1          11
52             138329   Photo         1          11
53             138329   Photo         1          11
54             138329   Photo         1          11
55             138329   Video         1          11
56             138329   Photo         1          11
57             138329   Photo         1          11
58             138329   Photo         1          11
59             138329   Photo         1          11
60             138185   Photo         1          11
61             138185   Photo         1          11
62             138185   Photo         1          11
63             138185   Photo         1          11
64             138185   Photo         1          11
65             138185   Photo         1          11
66             138185   Photo         1          11
67             138185   Photo         1          11
68             138185   Photo         1          11
69             137893   Photo         1          11
70             137893   Photo         1          11
71             137893   Video         1          11
72             137893  Status         3          11
73             137893   Photo         1          11
74             137893   Video         1          11
75             137893   Photo         1          11
76             137893   Photo         1          11
77             137177   Photo         1          11
78             137177   Photo         2          11
79             137177   Photo         1          11
80             137177  Status         2          11
81             137177   Photo         3          11
82             137177   Photo         1          11
83             137177   Photo         3          11
84             137177  Status         3          11
85             137177   Photo         1          11
86             137177    Link         1          11
87             137177   Photo         3          11
88             137177   Photo         1          11
89             137059   Photo         1          11
90             137059   Photo         1          11
91             137059   Photo         2          11
92             137059   Photo         3          11
93             137059   Photo         3          11
94             137059   Photo         2          11
95             137059   Photo         3          10
96             137059   Photo         1          10
97             137059   Photo         2          10
98             137020  Status         2          10
99             137020   Photo         1          10
100            137020   Photo         1          10

In [24]:
sub3=df[['Page total likes','Type','Category','Post Month']].loc[100:150];
sub3

     Page total likes    Type  Category  Post Month
100            137020   Photo         1          10
101            137020   Photo         2          10
102            137020   Photo         3          10
103            137020   Photo         1          10
104            137020   Photo         1          10
105            137020   Photo         1          10
106            137020   Photo         3          10
107            136736  Status         2          10
108            136736   Photo         3          10
109            136736  Status         2          10
110            136736   Photo         1          10
111            136736   Photo         1          10
112            136736   Photo         2          10
113            136642   Photo         2          10
114            136642   Photo         1          10
115            136642   Photo         1          10
116            136642   Photo         1          10
117            136642   Photo         1          10
118            136642   Photo         1          10
119            136393   Photo         1          10
120            136393   Photo         1          10
121            136393  Status         2          10
122            136393   Photo         1          10
123            136393   Photo         1          10
124            136393   Photo         1          10
125            136393   Photo         1          10
126            136393   Photo         3          10
127            136393   Photo         1          10
128            136393   Photo         1          10
129            136393   Photo         1          10
130            136393   Photo         1          10
131            136393   Photo         1          10
132            136393   Photo         1          10
133            136393   Photo         1          10
134            136393   Photo         1          10
135            136393   Photo         1          10
136            136393    Link         1          10
137            136013   Photo         1          10
138            136013  Status         2          10
139            136013   Photo         1          10
140            136013    Link         1          10
141            136013  Status         3          10
142            136013  Status         2          10
143            136013   Photo         3          10
144            136013   Photo         1          10
145            136013   Photo         1          10
146            136013   Photo         3          10
147            135713   Photo         3          10
148            135713  Status         2          10
149            135713    Link         1          10
150            135713   Photo         1          10

In [25]:
#merge data

In [31]:
concated=pd.concat([sub1,sub2,sub3])
concated

     Page total likes    Type  Category  Post Month
0              139441   Photo         2          12
1              139441  Status         2          12
2              139441   Photo         3          12
3              139441   Photo         2          12
4              139441   Photo         2          12
..                ...     ...       ...         ...
146            136013   Photo         3          10
147            135713   Photo         3          10
148            135713  Status         2          10
149            135713    Link         1          10
150            135713   Photo         1          10

[152 rows x 4 columns]

In [35]:
#sorting

In [36]:
sorted=df.sort_values('Category',ascending=True)
sorted

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
128,136393,Photo,1,10,6,13,0.0,645,1117,195,192,224,989,554,166,0,4.0,1.0,5
144,136013,Photo,1,10,2,3,1.0,50736,140432,1462,1450,8308,46252,15552,1275,3,41.0,9.0,53
145,136013,Photo,1,10,1,10,1.0,5324,11040,528,483,861,8627,4054,448,6,76.0,14.0,96
402,107907,Photo,1,4,3,4,1.0,39568,47128,741,652,957,22022,16096,519,4,128.0,17.0,149
401,107907,Photo,1,4,3,13,1.0,46192,80227,1364,1096,1697,32842,16960,762,9,329.0,38.0,376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,116435,Photo,3,5,1,13,0.0,4202,7633,562,481,730,6173,3298,428,3,148.0,16.0,167
359,116091,Photo,3,5,7,2,0.0,6984,12066,780,631,1116,8188,4776,570,25,256.0,54.0,335
361,116091,Photo,3,5,6,3,0.0,3332,5797,463,406,552,4347,2330,341,0,87.0,18.0,105
143,136013,Photo,3,10,2,10,1.0,16776,39549,714,440,720,11860,6200,590,10,377.0,60.0,447
162,135617,Photo,3,9,6,10,0.0,7512,13633,769,614,951,5503,3260,530,22,290.0,98.0,410

In [38]:
#transposeing data

In [40]:
transposed=df.transpose()
transposed

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85093,85093,85093,81370,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,1,3,3,3,2,1,3,2
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,6,6,5,1,7,7,5,5,4,4
Post Hour,3,10,3,10,3,9,3,9,3,10,...,11,3,11,2,10,2,8,2,11,4
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Lifetime Post Total Reach,2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,5280,6184,45920,8412,5400,4684,3480,3778,4156,4188
Lifetime Post Total Impressions,5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,8703,10228,5808,13960,9218,7536,6229,7216,7564,7292
Lifetime Engaged Users,178,1457,177,2211,671,1191,481,537,1530,280,...,951,956,753,1179,810,733,537,625,626,564
Lifetime Post Consumers,109,1361,113,790,410,1073,265,232,1407,183,...,911,901,655,1111,756,708,508,572,574,524
Lifetime Post Consumptions,159,1674,154,1119,580,1389,364,305,1692,250,...,1237,1140,763,1632,1003,985,687,795,832,743
Lifetime Post Impressions by people who have liked your Page,3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,5757,6085,15766,8632,5654,4750,3961,4742,4534,3861
Lifetime Post reach by people who like your Page,1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,3300,3502,10720,5348,3230,2876,2104,2388,2452,2200
Lifetime People who have liked your Page and engaged with your post,119,1108,132,1386,396,1016,379,422,1250,199,...,431,437,220,699,422,392,301,363,370,316
comment,4,5,0,58,19,1,3,0,0,3,...,1,1,0,17,10,5,0,4,7,0
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0,28.0
Total Interactions,100,164,80,1777,393,186,279,339,192,142,...,110,152,137,257,176,84,75,115,136,119

In [41]:
#Shape and Reshape the data

In [42]:
df.shape

(500, 19)

In [44]:
pivote_table=df.pivot_table(df,['Type','Category'])
pivote_table

                 Lifetime Engaged Users  \
Type   Category
Link   1                     357.850000
       2                     103.000000
       3                     282.000000
Photo  1                     852.227027
       2                     727.208791
       3                     833.553333
Status 1                    2074.666667
       2                    2150.210526
       3                     969.500000
Video  1                    1707.000000

                 Lifetime People who have liked your Page and engaged with your post  \
Type   Category
Link   1                                                214.050000
       2                                                 92.000000
       3                                                259.000000
Photo  1                                                522.508108
       2                                                446.604396
       3                                                525.380000
Status 1                                               1838.666667
       2                                               1805.315789
       3                                                818.750000
Video  1                                                979.428571

                 Lifetime Post Consumers  Lifetime Post Consumptions  \
Type   Category
Link   1                      306.150000                  389.800000
       2                       71.000000                   97.000000
       3                      245.000000                  337.000000
Photo  1                      766.589189                 1785.956757
       2                      556.637363                  820.802198
       3                      677.673333                  988.600000
Status 1                     1990.333333                 2976.666667
       2                     2060.000000                 3006.157895
       3                      869.750000                 1146.250000
Video  1                     1584.714286                 2600.142857

                 Lifetime Post Impressions by people who have liked your Page  \
Type   Category
Link   1                                              11345.100000
       2                                               8964.000000
       3                                               9403.000000
Photo  1                                              21388.508108
       2                                               8264.120879
       3                                              15247.126667
Status 1                                              25141.666667
       2                                              18994.736842
       3                                              10666.750000
Video  1                                              43149.857143

                 Lifetime Post Total Impressions  Lifetime Post Total Reach  \
Type   Category
Link   1                            30549.600000               19768.750000
       2                            10083.000000                5730.000000
       3                            10885.000000                6876.000000
Photo  1                            39286.308108               16949.556757
       2                            14628.307692                8468.274725
       3                            25016.753333               11269.520000
Status 1                            29228.000000               16509.333333
       2                            24754.947368               13320.842105
       3                            15657.250000                8207.500000
Video  1                           102622.428571               51205.714286

                 Lifetime Post reach by people who like your Page  \
Type   Category
Link   1                                              6669.700000
       2                                              4830.000000
       3                                              5752.000000
Photo  1                                              7152.659459
       2                                              4405.076923
       3                                              5713.826667
Status 1                                             14081.333333
       2                                             10064.105263
       3                                              5301.500000
Video  1                                             17386.285714

                 Page total likes      Paid  Post Hour  Post Month  \
Type   Category
Link   1            117984.150000  0.300000   5.850000    6.950000
       2             98195.000000  0.000000   6.000000    3.000000
       3            102112.000000  0.000000   3.000000    3.000000
Photo  1            123155.264865  0.286486   8.864865    7.102703
       2            127099.967033  0.255556   6.802198    7.626374
       3            118487.040000  0.286667   7.653333    5.940000
Status 1            119619.333333  0.333333   9.666667    6.666667
       2            133177.947368  0.236842   7.131579    9.052632
       3            137374.250000  0.000000   6.500000   11.000000
Video  1            135014.857143  0.571429   8.714286    9.571429

                 Post Weekday  Total Interactions    comment        like  \
Type   Category
Link   1             4.350000           91.250000   2.900000   75.650000
       2             6.000000           49.000000   2.000000   32.000000
       3             1.000000           85.000000   2.000000   68.000000
Photo  1             4.302703          148.789189   5.897297  126.000000
       2             3.802198          283.054945  11.692308  235.857143
       3             4.053333          259.860000   6.913333  219.753333
Status 1             3.333333          167.666667   4.333333  136.333333
       2             4.789474          224.578947   9.921053  182.552632
       3             3.500000          182.500000   2.750000  151.500000
Video  1             3.571429          295.857143  12.285714  231.428571

                     share
Type   Category
Link   1         12.700000
       2         15.000000
       3         15.000000
Photo  1         17.961326
       2         35.505495
       3         33.193333
Status 1         27.000000
       2         32.105263
       3         28.250000
Video  1         52.142857

In [45]:
#addtiontional reshape operaations on array

In [47]:
arr=np.array([1,2,3,4,5,6]);
arr.reshape(3,2)

array([[1, 2],
       [3, 4],
       [5, 6]])